{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Hussain Muhammad Auwal</title>
  
  <!-- HTML -->
  
  <!-- Custom Styles -->
  <link rel="stylesheet" href="{% static style.css %}">
</head>

<body>
  <section class="container">
    <div class="half-width">
      <h1>Welcome To <span class="purple-color">Hussain Muhammad Auwal</span> portfolio</h2>
      <h3>Building website And python Project</h3>
      <p>I am a python programmer,And also learning web Development.</p>
      <a class="primary-btn" href="https://www.fb.me/hussaini.auwal.522">Hire Me</a>
    </div>
    <div class="half-width">
      <img class="side-img" src="profile.jpg" alt="">
    </div>
  </section>
  <section class="container">
    <div class="half-width">
      <p> </p>
      <img class="side-img" src="dream.jpg">
    </div>
    <div class="half-width">
      <h2>BIG DREAM</h2>
      <h4>Become A Cyber Security Expert</h4>
      <p>I already learned some basics of IT.</p>
      <a class="primary-btn" href="">Contact</a>oo
      
    </div>>
  </section>
  <section class="container experience">
    <h2>Experience</h2>
    <div class="experience-item">
      <h3>Python Developer</h3>
      <p class="purple-color">2020-present|pro Python Developer</p>
      <p>I Started my python programming journey at sololearn apk.it was exciting,i finish python programming in just 2month.And i am now a cerrified programmer.</p>
    </div>
    
  </section>
  <footer>
    <p>©Hussain Muhammad Auwal 2020,a Sololearn initiative.</p>
  </footer>
</body>
</html>